{% extends './layout.html' %}

{% block title %}LVaED::CODE TO DIAGRAM{% endblock %}

{% block body %}

<!-- IMPORT VISJS LIBRARY FOR THE GRAPH -->
<script src="{{url_for('static', filename='js/visJS/dist/vis.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='js/visJS/dist/vis.css')}}">
<!-- -->

<div class="container">
    <h2>TRANSFORMACIÓN DE CÓDIGO A DIAGRAMA</h2>
    <div class="card">
        <div class="card-body shadow">
            <p class="card-text">Para realizar la transformación de código a diagrama, selecciona tu archivo de Python a continuación:</p>
        

            <!--  ACÁ DEBE IR LO RELACIONADO CON RECIBIR EL ARCHIVO DE PYTHON  -->

            <form action="/code_to_diagram" method='POST'" enctype="multipart/form-data">
            
                <input type="file" name="archivoPython" accept=".py"><br><br>
                <input type="submit" value="TRANSFORMAR A DIAGRAMA">      <!--CUANDO SE HACE CLICK EN EL BOTÓN LE AVISA AL JS-->

            </form>

            <!--
            <input type="file" name="archivoPython" accept=".py"><br><br>
            <input type="submit" value="TRANSFORMAR A DIAGRAMA">
            -->

        </div>
    </div>
</div>

<!--  DIV DONDE APARECERÁ EL DIAGRAMA  -->
<div class="container" id="diagramContainer">
    <h2>SU DIAGRAMA APARECERÁ ACÁ:</h2>
    <br>
    <!--  NETWORK SPACE  -->
    <div class="border rounded-0 shadow" id="network"></div>
</div>

<!-- JAVASCRIPT CODE FOR GENERATE THE GRAPH -->

<script>
    
    // ------------- FUNCIÓN PARA GRAFICAR UNA CLASE CON EL VISJS -------------

    //Graph nodes array
    var nodos = new vis.DataSet([


    ]); 

    //Graph vertex array
    var aristas = new vis.DataSet([


    ]); 

    //Graph container
    var contenedor = document.getElementById("network"); 

    //Data needed for Vis to make the Graph
    var datos = {

        nodes : nodos,
        edges : aristas

    }

    //Settings to personalize graph aspect
    var opciones = {

        nodes: {
            shape: "dot",       //All nodes will be dots
            borderWidth: 3,     //All nodes will have a border
            
        },

        edges: {

            width: 2,           //Increace edge´s width
            shadow: true,       //Enable edges shadow (also increase width)

        },

    }

    //Counters to genereta classes, attributes or methods IDs (for VIS)
    var IDnode = 0; 
    var IDattribute = 0; 
    var IDmethod = 0; 

    //Current class counter (This is for create the edge from the class node to attribute´s node or method´s node)
    var currentClass = 0; 

    //Function to add a class to the Graph
    function addClass(className){

        currentClass = IDnode+1

        node = { id:(currentClass), label:className, color:{background:"#FFCCC7", border:"#FF1700"}};   //Node creation
        nodos.add(node);    //Add created node to the nodes array
        
        //Se aumentan y cambian los contadores
        IDnode++; 
        IDattribute = IDnode; 
        IDmethod = IDnode; 

    }

    function addAttribute(attributeName){
        
        node = { id:(IDattribute+1), label:attributeName, color:{background:"#FFE6BA", border:"#FFA300"}};  //Node creation
        nodos.add(node);    //Add created node to the nodes array

        //Edge from class´s node to attribute´s node
        arista = {from:currentClass, to:(IDattribute+1), label:"Attribute", color:{color:"#000000"}}    //Edge creation
        aristas.add(arista);    //Add created edge to the edges array

        //Se aumentan y cambian los contadores
        IDattribute++; 
        IDnode = IDattribute; 
        IDmethod = IDattribute; 

    }
    
    function addMethod(methodName){

        node = {id:(IDmethod+1), label:methodName, color:{background:"#FDFFB2", border:"#F8FF00"}}  //Node creation
        nodos.add(node);    //Add created node to the nodes array

        //Arista desde el nodo de la clase hasta el nodo del método:
        arista = {from:currentClass, to:(IDmethod+1), label:"Method",color:{color:"#000000"}}       //Edge creation
        aristas.add(arista);    //Add created edge to the edges array

        //Se aumentan y cambian los contadores
        IDmethod++; 
        IDnode = IDmethod; 
        IDattribute = IDmethod;
        
    }


    //Function for make the Graph
    function makeGraph(GrapData){

        //Obtein each class
        for(Clase in GrapData){

            addClass(Clase.toString());     //Foreach class, add the class to the graph

            //Obtain class´s attributes
            for(Index_Attribute in GrapData[Clase].Attributes){

                addAttribute((GraphData[Clase].Attributes[Index_Attribute]).toString());    //For each attribute, add it to the graph
            }

            //Obtain class´s methods
            for(Index_Method in GrapData[Clase].Methods){

                addMethod((GrapData[Clase].Methods[Index_Method]).toString());              //For each method, add it to the graph
            }

        }

        //When finish all, update the graph
        var graph = new vis.Network(contenedor, datos, opciones); 

    }

    
    // ------------- OBTAIN DATA FROM PYTHON/FLASK  -------------

    //Python Dictionary to JSON file 
    var GraphData = JSON.parse('{{ PythonDic | tojson | safe }}');      //Converty python Dictonary to JSON syntax

    makeGraph(GraphData);   //makeGraph function is called, the arg is the JSON file that contains the data
    

</script>

{% endblock %}