{% extends './layout.html' %}

{% block title %}LVaED::CODE TO DIAGRAM{% endblock %}

{% block body %}

<div class="container">
    <h2>TRANSFORMACIÓN DE DIAGRAMA A CÓDIGO</h2>
    <div class="card">
        <div class="card-body shadow">
            <p class="card-text">Para realizar la transformación de diagrama a código, genere su archivo SVG desde Draw IO siguiendo las intstrucciones y súbalo a continuación:</p>
            
            
            <!--  ACÁ DEBE IR LO RELACIONADO CON RECIBIR EL ARCHIVO SVG  -->


        </div>
    </div>
</div>

<!--  DIV DONDE APARECERÁ EL CÓDIGO  -->
<div class="container" id="diagramContainer">
    <h2>SU CÓDIGO APARECERÁ ACÁ:</h2>
    <code>Text</code>
</div>

{% endblock %}